<style>
  .btn-search {
    background-color: rgb(209, 39, 48);
    color: #ffff;
    border-radius: 2rem;
    padding: 0 1rem 0 1rem;
    font-size: 0.8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-search:hover {
    background-color: rgb(209, 39, 48);
    color: #ffff;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 2rem;
    padding: 0rem 3rem 0rem 3rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-plane"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Aeronest your home</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

    </div>
    <div class="btn-auth">
      <% if(!currUser) { %>
        <form action="/signup" class="m-2">
          <button class="btn btn-outline-danger btn-sm">Sign up</button>
        </form>
        <form action="/login" class="m-2">
          <button class="btn btn-outline-success btn-sm">Log in</button>
        </form>
        <% } %>

          <% if(currUser) { %>
            <form action="/logout" class="m-2">
              <button class="btn">Log out</button>
            </form>
            <% } %>
    </div>
    

  </div>
</nav>